@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.detailPage {
  margin: 0px 10px auto;
  max-width: 960px;
}
.detailForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.nameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
  border: 2px solid black;
  border-radius: 25px;
  height: 55px;
}
.backgroundPurple {
  background-color: #EDE9FE;
}
.backgroundDefault {
  background-color: white;
}

.nameInput {
  background: transparent; /* 배경을 투명하게 설정 */
  border: none; /* 기본 테두리 제거 */
  outline: none; /* 포커스 시 기본 윤곽선 제거 */
  padding: 5px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 20px;
}
/* checkbox */
.statusCheckbox {
  margin: 0px 10px;
  display: inline-block;
  position: relative;
}

.hiddenCheckbox {
  display: none; /* 기본 체크박스 숨기기 */
}

.customCheckbox {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%; /* 동그랗게 만들기 */
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.customCheckbox::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0; /* 초기 상태에서 체크 표시 숨김 */
  transition: opacity 0.3s;
}

/* 체크 상태일 때 */
.hiddenCheckbox:checked + .customCheckbox {
  background-color: #7C3AED;
}

.hiddenCheckbox:checked + .customCheckbox::after {
  opacity: 1; 
}
/* checkbox end */

/* image */
.singleImg {
  object-fit: cover;
  width: '100%';
  height: '100%',
}
.imgContainer {
  overflow: hidden;
  width: 90%;
  min-height: 250px;
  border: 2px dashed lightgrey;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  position: relative;
}
.uploadButton {
  position: absolute;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.uploadImage {
  border-radius: 9999px;
  border: 2px solid #ccc; /* 버튼 이미지 테두리 (선택사항) */
}
/* image end */
/* memo */
.memoContainer {
  background-image: url('/memo.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 15px;
}

.memoLabel {
  margin: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #92400E;
  font-family: 'NanumSquare', sans-serif;
}
.memoInput {
  width: 100%; /* 부모 div의 너비에 맞게 조절 */
  height: 100%; /* 부모 div의 높이에 맞게 조절 */
  background: transparent; /* 배경을 투명하게 설정 */
  border: 1px solid #ccc; /* 테두리 추가 (필요에 따라 조정) */
  border-radius: 4px; /* 모서리 둥글게 (필요에 따라 조정) */
  padding: 10px; /* 내부 여백 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 너비와 높이 설정 */
  resize: none; /* 크기 조절 비활성화 */
  display: flex;
  flex-direction: column;
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
  text-align: center; /* 텍스트 가운데 정렬 */
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
}

.btnline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
}
.btns {
  border-radius: 25px;
  border: 2px solid black;
  border-bottom-width: 4px;
  border-right-width: 4px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 10px;
}
.patchBtn {
  background-color: #BEF264;
  font-family: 'NanumSquare', sans-serif;
}
.delBtn {
  background-color: #F43F5E;
  color: white;
  font-family: 'NanumSquare', sans-serif;
}

/* mobile */
@media screen and (max-width: 450px) {
  .imgContainer {
    min-height: 150px;
    max-height: 300px;
  }
  .bodyline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
  }
}
  

/* tablet */
@media screen and (min-width: 451px) and (max-width: 960px) {
  .imgContainer {
    min-height: 250px;
  }
  .bodyline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
  }
}

/* desktop */
@media screen and (min-width: 961px) {
  .imgContainer {
    min-height: 250px;
  }
  .bodyline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
  }
}