:root {
  --violet100: #EDE9FE;
  --violet600: #7C3AED;
  --rose500: #F43F5E;
  --lime300: #BEF264;
  --amber800: #92400E;
  --button-hover-color: #535bf2;
  --button-focus-color: #646cff;
  --button-focus-visible-color: #646cff;
}


.memoContainer {
  background-image: url('../public/memo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}
.test {
  background-color: red;
  height: 400px;
}